*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat';
    font-size: 20px;
    
}

::-webkit-scrollbar {
    display: none;
}

section {
    min-height: 100vh;
    width: 100%;
    display: inline-block;
    align-items: center;
    background: url('drawable-xhdpi/bg1.png');
    flex-direction: column;
    padding: 50px 0;
}
section h1 {
    color: rgba(255, 255, 255, 0.322);
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}
section p {
    text-align: center;
    color: rgba(255, 255, 255, 0.322);
    width: 100%;
    margin-bottom: 40px;
}
.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    
   
}
.texts p {
    color: white;
    text-align: left;
    background-image: url('drawable-xhdpi/subtitle_frame_big.png');
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 150px;
}
.texts p.replay {
    text-align: right;
}
img#img {
    padding: 10px;
    margin-bottom: 10px;
    float: left;
    border: 3px solid black;
    border-radius: 8px;
    margin-left: 150px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.connect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 40;
}

#nixie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#amad {
    float: right;
    display: block;
    position: relative;
    bottom: 250px;
    opacity: 0.2;
}

#logon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

input[type=text] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: black;
    color: yellow;
    margin-left: 40px;
    font-size:24px;
  }

  input[type=password] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: black;
    color: yellow;
    font-size:24px;
    
  }

  label {
    text-shadow: 8px -4px 18px rgba(228,238,0,1);
    color: yellow;
    font-weight: bold;
    font-size: 25px;
  }

#index {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#enter {
    width: 80px;
    height: 80px;
    left: 40%;
    position: relative;
    display: none;
}

#err {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#boot {
      /* Full height */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#welcome {
    text-shadow: 8px -4px 18px rgba(228,238,0,1);
    color: yellow;
    font-size:50px;
    
}

#id {
    text-shadow: 8px -4px 18px rgba(228,238,0,1);
    color: red;
    font-size:50px;
}

#badge {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    cursor: pointer;
}